FLASK_DEBUG=True
#FLASK_APP=app.py
DEPLOYMENT_ENV=dev
FLASK_RUN_PORT=5555
SECRET_KEY=b'\xf1\x89\x866\x94\xce\xbd\xfe\x19i\xdb\x82{Hgsc8t\x02\xd5\x1d\x8ee'
DATABASE_URI=mysql+pymysql://user:password@localhost:3306/database_test
ORIGIN_ALLOW_DOMAIN=*